<h1 style="@ElementStyle; @H1Border">-Child Component Text - @Counter</h1>

<GrandChildComponent>
    <ChildContent>
        Text to render inside the the child component by RenderFregmant
    </ChildContent>
    <Controls>
        Here are controls fregmant
    </Controls>
    @*
        render templete
        <RepeaterComponent Items="ListName">
            <Row Context="ClassName">
                templete ClassName.Firstname etc ...
            </Row>
        </RepeaterComponent>

    *@
</GrandChildComponent>

@code {
    [CascadingParameter(Name = "ColorStyle")]
    public string ElementStyle { get; set; }

    [CascadingParameter(Name = "BorderStyle")]
    public string H1Border { get; set; }

    [CascadingParameter(Name = "Counter")]
    public int Counter { get; set; }
}